.header-container {
  background-color: var(--ambient2);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 40px;
}
.header-container img {
  border-radius: 50%;
  opacity: 0.8;
}
.header-container h1 {
  color: var(--ambient3);
}
