@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --bg1: #f3f2ec;
  --txtLight: #fff;
  --txtGray: #595959;
  --bg2: #fff;
  --txtDark: #333;
  --ambient1: #e62727;
  --ambient2: #1e93ab;
  --ambient2dark: #156a7b;
  --ambient2lt: #26a2bb;
  --ambient3: #dcdcdc;
  --dark1: #3b2621;
  --ambient4: #48a6a7;
  --btnSuccess: #2e8b57;
  --btnSuccessHover: #25794b;
  --btnCancel: #e62727;
  --btnCancelHover: #c91f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: var(--bg1); */
  font-family: Montserrat, "Ariel", "Sans-Seriff";
}

/* button {
  cursor: pointer;
} */
.addButton {
  cursor: pointer;
  padding: 7px 14px;
  border: none;
  background-color: var(--btnSuccess);
  color: var(--txtLight);
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  /* font-size: 0.8rem; */
  box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.6);
}
.addButton:hover {
  background-color: var(--btnSuccessHover);
}
.cancelButton {
  cursor: pointer;
  padding: 7px 14px;
  border: none;
  background-color: var(--btnCancel);
  color: var(--txtLight);
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  /* font-size: 0.8rem; */
  box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.6);
}

.cancelButton:hover {
  background-color: var(--btnCancelHover);
}

@keyframes lineAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.lineAnimation {
  animation: lineAnimation 0.3s ease-in;
}

/* Fade In effect CSS */
@keyframes fadeInCarousel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutCarousel {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeInCarousel {
  animation: fadeInCarousel 0.3s ease-in-out;
}

.fadeOutCarousel {
  animation: fadeOutCarousel 0.3s ease;
}
