.album-list {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.album-list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  padding: 10px 0px;
}

.album-list-head h2 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.album-list-head h2::after {
  content: "";
  background: var(--ambient1);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  animation: lineAnimation 0.3s ease-in 0.1s;
}

.album-grids {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 25px;
  /* background-color: var(--ambient2); */
  padding: 20px 0;
}
.album-card {
  background-color: var(--bg2);
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.album-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 6px solid var(--ambient3);
  border-left: 6px solid var(--ambient3);
  border-right: 6px solid var(--ambient3);
  border-radius: 10px 10px 0px 0px;
  transition: all 0.2s ease-in-out;
}

.album-title {
  background-color: var(--ambient3);
  width: 100%;
  text-align: center;
  color: var(--txtGray);
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 0px;
  transition: all 0.2s ease-in-out;
}
.album-icon {
  font-size: 3rem;
  color: var(--txtGray);
  transition: all 0.2s ease-in-out;
}
.album-card:hover {
  box-shadow: 0px 10px 31px -4px rgba(0, 0, 0, 0.7);
  transform: scale(1.09);
}
.album-card:hover .album-icon-container {
  border-top: 6px solid var(--ambient2);
  border-left: 6px solid var(--ambient2);
  border-right: 6px solid var(--ambient2);
}

.album-card:hover .album-title {
  background-color: var(--ambient2);
  color: var(--txtLight);
}
.album-card:hover .album-icon {
  color: var(--ambient1);
}
