.album-list {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
/* .album-form {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}
.album-form.show {
  max-height: 145px;
  opacity: 1;
} */
